{% extends "base_template.html" %}

{% block title %}Create Community{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Create a New Community</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert-container mb-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('community.create_community') }}">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            <label for="name" class="form-label">{{ form.name.label }}</label>
            {{ form.name(class="form-control", size=32, placeholder="Enter community name") }}
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">{{ form.description.label }}</label>
            {{ form.description(class="form-control", rows=5, placeholder="Enter a brief description of the community") }}
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('community.scripts') }}"></script>
{% endblock %}

