{% extends "base_template.html" %}

{% block title %}{{ user.profile.name }} {{ user.profile.surname }}'s Datasets{% endblock %}

{% block content %}

<h1 class="h3 mb-3">{{ user.profile.name }} {{ user.profile.surname }}'s Datasets</h1>

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Title</th>
                            <th>Publication type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dataset in datasets %}
                        <tr>
                            <td>
                                {% if dataset.ds_meta_data.dataset_doi %}
                                    <a href="{{ dataset.get_uvlhub_doi() }}">
                                        {{ dataset.ds_meta_data.title }}
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('dataset.get_unsynchronized_dataset', dataset_id=dataset.id) }}">
                                        {{ dataset.ds_meta_data.title }}
                                    </a>                                    
                                {% endif %}
                            </td>
                            <td>{{ dataset.ds_meta_data.publication_type.name.replace('_', ' ').title() }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="2">No datasets uploaded.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
